.listItem {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: px-to-rem(20);
  justify-content: space-between;
  align-items: center;
  margin-top: px-to-rem(32);
  box-shadow: 0 px-to-rem(10) px-to-rem(20) rgba(0, 0, 0, 0.05);

  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:not(:last-child) {
    margin-right: px-to-rem(16);
  }
  
  .icon {
    width: px-to-rem(32);
  }
  
  .name {
    font-size: px-to-rem(32);
    line-height: 1.2;
  }
  
}

