.modal {
  .outerContainer {
	position: absolute;
    left: 0;
    top:  px-to-rem(20);
    height: auto;
    width: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    right: 0;
	text-align: center;

    .container {
      height: px-to-rem(150);
      width: px-to-rem(400);
      background-color: white;
      z-index: 3;
      box-shadow: 0  px-to-rem(15) px-to-rem(30) rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      padding: px-to-rem(24) px-to-rem(32);
      padding-bottom: px-to-rem(32);
      border-radius: px-to-rem(16);

      .close {
        align-self: flex-end;
        background-color: transparent;
        border-width: 0;
        cursor: pointer;
      }

      .innerContainer {
        width: 100%;
        margin-top: px-to-rem(8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .btnContainer {
          justify-content: space-between;
        }

        .text {
          font-size: px-to-rem(20);
		  margin: px-to-rem(10) 0;
		
        }

        .btn {
          width: 40%;
          background-color: transparent;
          border-width: 0;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}
