@mixin button {
    cursor: pointer;
    font-size: 1.5rem;
  
    padding: 5px 15px;
    border-radius: 5px;
    color: black;
    background: transparent;
    border: 1px solid black;
}

@mixin hoverActiveEffect {
    border: 1px solid black;
    color: white;
    background: black;
}


